<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: nav"></nav>

    <form method="post" style="max-width:600px;" th:object="${movie}">
        
        <div style="margin-top:10px;"></div>

        <div class="form-group">
            <label th:for="title">Title</label>
            <input class="form-control" th:field="*{title}" th:placeholder="${movie.title}" />
        </div>
        <div class="form-group">
            <label th:for="year">Year</label>
            <input class="form-control" type="number" th:field="*{year}" th:placeholder="${movie.year}" />
        </div>

        <input type="submit" value="Update" style="margin-top:10px;"/>
    </form>
</body>

</html>